python-dotenv
langchain
pypdf
ipykernel
langchain-community
langchain-huggingface
langchain-groq
langchain-chroma
streamlit
langchain-core
langchain-groq
-e . ##looks for setup.py in the current directory